<%- include('../partials/header') -%>

<body class="reviewPage">
    <a class= "goBackBtn" href="/movies/<%=movieId%>">GO BACK</a>
    <h1> Update  Review </h1>
    <form action="/movies/<%=review[0]._id%>/review?_method=PUT" method="POST">
    <textarea class="form-control-lg" rows="10" cols="50" name="text"><%= review[0].text %> </textarea>
    <select class="rating" type="number" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <button>Submit</button>
</body>

<%- include('../partials/footer') -%>
