<%- include('./partials/header') -%>
  <body class="homepage">
    <h1 class="title">The Marvelous Page</h1>
    <nav>
      <% if (user) { %>
          <a href="/logout">Log Out</a>
      <% } else { %>
          <a href="/auth/google">Login With Google</a>
      <% } %>
      </nav>
      <% if (user) { %>
              <h1> Welcome <%= user.name %> </h1>
          <% } %>

       
          <div class="container">

             <% m.forEach(function(m) { %>
            <div class="movieDp" style="background-image:url(<%=m.cover_url%>);"> 
              <%= m.title %> 
          <div class="showMore"> <a class= "showLink" href= "/movies/<%=m._id%>">Show More</a> </div>
            </div>
             <% }) %> 

          </div>
  </body>
  <%- include('./partials/footer') -%>

