<%- include('../partials/header') -%>
<body class="homepage">
  <a class="goBackBtn" href="/movies">GO BACK</a>
  <div class="container">
    <% movie.forEach(function(m) { %> <% if (m.cover_url) { %>
    <div class="movieDp" style="background-image: url(<%=m.cover_url%>)">
      <%= m.title %>
      <div class="showMore">
        <a class="showLink" href="/movies/<%=m._id%>">Show More</a>
      </div>
    </div>
    <% } else { %>
    <div
      class="movieDp"
      style="
        background-image: url(https://imgs.search.brave.com/CNb7iIfZI7IWnaYYafcGPat_TNZYagvWlNczpntkvvA/rs:fit:626:626:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2NkLzU0/LzQxL2NkNTQ0MWU5/YjE3MzljODM5MzQy/NzMyMDcxNzYxZGYx/LmpwZw);
      "
    >
      <%= m.title %>
      <div class="showMore">
        <a class="showLink" href="/movies/<%=m._id%>">Show More</a>
      </div>
    </div>
    <% } %> <% }) %>
  </div>
</body>

<%- include('../partials/footer') -%>
