<%- include('../partials/header') -%>

<body class="showpageImage">
  <a class="goBackBtn" href="/movies">GO BACK</a>
  <div class="showMovie">
    <div class="movieTitle display-3"><%= m.title %></div>
    <div class="releaseYear display-8">Release Date: <%= m.release_date %></div>
    
    <div class="overview mt-3">
        <h2 class="display-6"> Overview: </h2>
      <% if (m.overview) { %> <%= m.overview %> <% } else { %> Coming Soon! <% }
      %>
      <div class="trailer">
        <% if (m.trailer_url) { %>
        <iframe class="youtubeVid"
          width="540"
          height="300"
          src="<%=m.trailer_url%>"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <% } else { %> Not Avaliable! <% } %>
      </div>
    </div>
    <h1 class="showReviewTitle mt-3">Reviews</h1>
    <a class="createReview" href="/movies/<%=m._id%>/review/new">CREATE A REVIEW</a>
     

      <table class="reviewTable">
        <thead>
          <tr>
            <th class="th">Review:</th>
            <th class="th">Rating:</th>
            <th class="th">User</th>
          </tr>
          </thead>
          <tbody>
          <% review.forEach(function(r) { %>
          <tr> 
           
            <td class=" tableData"> 
              <li><%= r.text %></li></td>
            <td class="tableData">
            <% for(let i= 0; i<r.rating; i++) { %>
                 <div class="fa fa-star checked"></div> 
          <% } %>
            </td>
            <td class="tableData"><%= r.User.name %></td>
            <% if(r.User._id.equals(user && user._id)) { %>
            <td class="tableData"><button class="editBtn"><a href="/movies/review/<%=r._id%>/edit">Edit a Review</a></button> </td>
            <td class="tableData">
              <form
                action="/movies/review/<%=r._id%>?_method=DELETE"
                method="POST"
              >
                <button class="deleteBtn" type="submit">Delete Review</button>
              </form>
            </td>
          </tr>
          <% } %>
          <% }) %>
          </tbody>
      </table>
  </div>
</body>

<%- include('../partials/footer') -%>
