<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <a href="/movies">GO BACK</a>
    <div class="showMovie"> 
        <div class= "movieTitle">
            <%= m.title %>
        </div>
        <div class="releaseYear">
          <%= m.release_date %>
        </div>
        <div class="overview"> <% if (m.overview) { %>
                <%= m.overview %>
        <% } %>
            </div>
        <div class="userReview">
            <h1 class="showReviewTitle"> Review </h1>
      
                <table class="reviewTable">
                    <thead>  
                    <tr>
                        <th>Review:</th>
                        <th>Rating:</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% review.forEach(function(r) { %>
                    <tr>
                        <td> <%= r.text %> </td>
                        <td><%= r.rating %> </td>    
                <% if(r.User) { %> 
                        <td> <%= r.User.name %> </td>
                        <td> <a href="/movies/<%=r._id%>/review/edit">Edit a Review</a></td>
                        <td><form action="/movies/<%=r._id%>/review?_method=DELETE"  method="POST">
                            <button type="submit">Delete Review</button>
                        </form></td>
                        <% } else { %>
                        <td> Unknown </td>
                    </tr>
                      <% } %>
                      <%  }) %>
                        

                    </tbody>
                
            </table>
            
            
            <a href="/movies/<%=m._id%>/review/new">CREATE A REVIEW</a>

            
        </div>
        </div>
</body>
</html>